/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.05.12., 11:20:22
    Author     : hgy
*/
body {
  min-height: 2000px;
  padding-top: 70px;
}
